 p {
        width: 60ch;
        font-size: 26px;
    }


    /* This is for mobile */
    @media (max-width: 480px) {
        body {
            background-color: pink;
        }

        p {
            font-size: 12px;
        }
    }

    /* This is for tablets */
    @media (min-width: 481px) and (max-width: 768px) {
        body {
            background-color: green;
        }
    }

    /* This is for laptops */
    @media (min-width: 769px) and (max-width: 1024px) {
        body {
            background-color: pink;
        }

        p {
            font-size: 36px;
        }
    }

    /* This is for desktops */
    @media (min-width: 1025px) {
        body {
            background-color: yellow;
        }

        p {
            font-size: 50px;
        }
    }
